@{
    ViewBag.Title = "Home Page";
}

<main role="main" id="main-container">
    <section id="first-section">
        <div class="about-me">
            <div><h1>Paweł Cygan</h1></div>
            
            <div>
                @Html.Raw(Zadanie8_PawełCygan.Resources.Index.About1)

                <img src="../../Images/PolSen.jpg" alt="match" width="539" height="300" />
                @Html.Raw(Zadanie8_PawełCygan.Resources.Index.About2)

            </div>

        </div>

        <div class="services">
            <h1>@Html.Raw(Zadanie8_PawełCygan.Resources.Index.Offer)</h1>
            <h6>@Html.Raw(Zadanie8_PawełCygan.Resources.Index.ServicesFirstHeader)</h6>

            <div class="helper-container">
                <div>
                    <div class="single-service">
                        <h2>@Html.Raw(Zadanie8_PawełCygan.Resources.Index.ServiceHeader)</h2>
                        <img src="../../Images/cog.jpg" alt="cog" width="150" height="127" />
                        <span>@Html.Raw(Zadanie8_PawełCygan.Resources.Index.ServiceDesc)</span>
                    </div>

                    <div class="single-service">
                        <h2>@Html.Raw(Zadanie8_PawełCygan.Resources.Index.ServiceHeader)</h2>
                        <img src="../../Images/cog.jpg" alt="cog" width="150" height="127" />
                        <span>@Html.Raw(Zadanie8_PawełCygan.Resources.Index.ServiceDesc)</span>
                    </div>

                    <div class="single-service">
                        <h2>@Html.Raw(Zadanie8_PawełCygan.Resources.Index.ServiceHeader)</h2>
                        <img src="../../Images/cog.jpg" alt="cog" width="150" height="127" />
                        <span>@Html.Raw(Zadanie8_PawełCygan.Resources.Index.ServiceDesc)</span>
                    </div>

                    <div class="single-service">
                        <h2>@Html.Raw(Zadanie8_PawełCygan.Resources.Index.ServiceHeader)</h2>
                        <img src="../../Images/cog.jpg" alt="cog" width="150" height="127" />
                        <span>@Html.Raw(Zadanie8_PawełCygan.Resources.Index.ServiceDesc)</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="success-section">
            <h1>@Html.Raw(Zadanie8_PawełCygan.Resources.Index.Success)</h1>
            <h6>@Html.Raw(Zadanie8_PawełCygan.Resources.Index.SuccessesFirstHeader)</h6>

            <div class="success-section-container">
                <div>
                    <div class="success-section-image">
                        <h2>@Html.Raw(Zadanie8_PawełCygan.Resources.Index.SuccessHeader)</h2>
                        <img src="../../Images/coding-computer.jpg" alt="image" width="385" height="290" />
                    </div>
                    <div class="success-section-image">
                        <h2>@Html.Raw(Zadanie8_PawełCygan.Resources.Index.SuccessHeader)</h2>
                        <img src="../../Images/coding-computer.jpg" alt="image" width="385" height="290" />
                    </div>
                    <div class="success-section-image">
                        <h2>@Html.Raw(Zadanie8_PawełCygan.Resources.Index.SuccessHeader)</h2>
                        <img src="../../Images/coding-computer.jpg" alt="image" width="385" height="290" />
                    </div>
                    <div class="success-section-image">
                        <h2>@Html.Raw(Zadanie8_PawełCygan.Resources.Index.SuccessHeader)</h2>
                        <img src="../../Images/coding-computer.jpg" alt="image" width="385" height="290" />
                    </div>
                    <div class="success-section-image">
                        <h2>@Html.Raw(Zadanie8_PawełCygan.Resources.Index.SuccessHeader)</h2>
                        <img src="../../Images/coding-computer.jpg" alt="image" width="385" height="290" />
                    </div>
                    <div class="success-section-image">
                        <h2>@Html.Raw(Zadanie8_PawełCygan.Resources.Index.SuccessHeader)</h2>
                        <img src="../../Images/coding-computer.jpg" alt="image" width="385" height="290" />
                    </div>
               </div>
            </div>
        </div>
    </section>
</main>